################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolManagement/obj/Debug/netcoreapp3.0
/SchoolManagement.Core/obj/Debug/netcoreapp3.0
/SchoolManagement.Data/obj/Debug/netcoreapp3.0
/.vs/SchoolManagement
/SchoolManagement/bin/Debug/netcoreapp3.0
/SchoolManagement.Core/bin/Debug/netcoreapp3.0
/SchoolManagement.Data/bin/Debug/netcoreapp3.0
/SchoolManagement/obj
/SchoolManagement.Core/obj
/SchoolManagement.Data/obj
