################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolManagement/obj/Debug/netcoreapp3.0
/SchoolManagement.Core/obj/Debug/netcoreapp3.0
/SchoolManagement.Data/obj/Debug/netcoreapp3.0
/SchoolManagement/bin/Debug/netcoreapp3.0
/SchoolManagement.Core/bin/Debug/netcoreapp3.0
/SchoolManagement.Data/bin/Debug/netcoreapp3.0
/SchoolManagement/obj
/SchoolManagement.Core/obj
/SchoolManagement.Data/obj
/Documentation/SchoolManagement.archimate.bak
/SchoolManagement.Application/obj
/SchoolManagement.Domain/obj
/SchoolManagement.Persistance/obj
/SchoolManagement.WebApi/obj
/SchoolManagement.Persistance/bin/Debug/netcoreapp3.1
/SchoolManagement.WebApi/bin/Debug/netcoreapp3.1
/SchoolManagement.Domain/bin/Debug/netcoreapp3.1
/SchoolManagement.Application/bin/Debug/netcoreapp3.1
/.vs
